### List comprehension

In [1]:
new_list = [str(i) for i in range(1, 10)]
new_list

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [2]:
new_list2 = [i**2 for i in range(1, 10) if i%2==0]
new_list2

[4, 16, 36, 64]

### Dictionary comprehension
new_dict = {new_key:new_value for item in list}
<br>
new_dict = {new_key:new_value for (key, value) in dict.items()}
<br>
new_dict = {new_key:new_value for (key, value) in dict.items() if test}

In [3]:
names = ["name1", "name2", "name3", "name4"]

In [4]:
import random

In [5]:
students_score = {student: random.randint(1, 100) for student in names}
students_score

{'name1': 69, 'name2': 78, 'name3': 50, 'name4': 22}

In [8]:
print(students_score.items())
type(students_score.items())

dict_items([('name1', 69), ('name2', 78), ('name3', 50), ('name4', 22)])

dict_items

In [14]:
passed_students = {key: value for (key, value) in students_score.items() if value > 50}
passed_students

{'name1': 69, 'name2': 78}

In [15]:
test = [(1,2,3),(1,2,3),(1,24,5)]

In [16]:
for (value1, value2, value3) in test:
    print(value2)

2
2
24

### How to iterate over pandas dataframe

In [17]:
student_dict = {
    "student" : ["Angela", "Lili", "James"],
    "marks" : [100, 51, 70]
}

In [23]:
for (key, value) in student_dict.items():
    print(key, value)

student ['Angela', 'Lili', 'James']
marks [100, 51, 70]

In [18]:
import pandas
student_dataframe = pandas.DataFrame(student_dict)
student_dataframe

  student  marks
0  Angela    100
1    Lili     51
2   James     70

In [24]:
for (key, value) in student_dataframe.items():
    print(value)

0    Angela
1      Lili
2     James
Name: student, dtype: object
0    100
1     51
2     70
Name: marks, dtype: int64

In [25]:
# Loop through rows of the dataframe
for (index, row) in student_dataframe.iterrows():
    print(row)

student    Angela
marks         100
Name: 0, dtype: object
student    Lili
marks        51
Name: 1, dtype: object
student    James
marks         70
Name: 2, dtype: object